.big-img {
    width: 95%;
}

.big-img img {
    width: inherit;
}

.images {

    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 15px;
}

.small-img {
    width: 80px;
    overflow: hidden;
    border: 1.5px solid rgb(247, 239, 239);
}

.small-img img {
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.small-img:hover img {
    transform: scale(1.2);
}